body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Orbitron', sans-serif;
}

.calculator {
    width: 20%;
    height: 60%;
    border: 5px solid black;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 400px;
    min-height: 165px;
}

.display {
    height: 25%;
    margin: 5px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
    padding: 10px;
}

.expression {
    font-size: 2rem;
}

.result {
    font-size: 3rem;
}

.controlPanel {
    display: grid;
    grid-template-rows: repeat(4, minmax(0, 1fr));
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 5%;
    border: 2px solid black;
    margin: 5px;
    flex: 1;
    min-width: 0;
    min-height: 0;
}

.btn {
    border: 2px solid black;
    margin: 5px;
    overflow: hidden;
    box-shadow: 2px 2px 5px grey;
    font-family: 'Orbitron', sans-serif;
}

.btn:active {
    box-shadow: none;
}
