:root {
    --green: #bcece0;
    --grey: #4c5270;
    --pink: #ffaebc;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Orbitron', sans-serif;
    background-color: var(--green);
}

.calculator {
    width: 20%;
    height: 60%;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 400px;
    min-height: 400px;
    background-color: #4c5270;
    padding: 8px;
}

.container {
    color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    max-width: 20%;
}

.display {
    height: 25%;
    margin: 5px;
    border: 2px solid var(--green);
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
    padding: 10px;
    background-color: var(--pink);
}

.expression {
    font-size: 2rem;
    color: var(--grey);
}

footer {
    justify-self: flex-end;
}

.result {
    font-size: 3rem;
    color: var(--grey);
}

.controlPanel {
    display: grid;
    grid-template-rows: repeat(4, minmax(0, 1fr));
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-gap: 5%;
    border: 2px solid var(--green);
    border-radius: 2%;
    margin: 5px;
    flex: 1;
}

.btn {
    border: 2px solid var(--pink);
    border-radius: 5%;
    margin: 5px;
    overflow: hidden;
    font-family: 'Orbitron', sans-serif;
    color: var(--pink);
    background-color: var(--grey);
}

.btn[data-key="+"] {
    grid-column: span 2;
}
